<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="global-container">
        <div class="chat-container" id="inactive">
            <div class="chat-header">
                <div class="chat-bot-info">
                    <div class="chat-bot-icon">
                        <img src="../static/img/logobot.png" alt="">
                    </div>
                    <div class="chat-title">
                        <h2>Asistente UMC</h2>
                        <p>¿En qué te puedo ayudar?</p>
                    </div>
                </div>
                <div class="chat-close-icon">
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>
            <div class="chat-info-container">
                <div class="chat-messages-container chat-scrollbar" id ="chat-area">
                    <div class="messages-container">
                        <span class="automated-messages">Preguntame algo</span>
                    </div>
                </div>
                <div class="chat-input-area">
                    <form >
                        {% csrf_token %}
                        <input type="text" placeholder="Enviar mensaje..." name="input_usuario" required autocomplete="off">
                        <button type="submit" class="send-button">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bot-container">
            <div class="bot-popup bot-background">
            </div>
            <div class="button-container">
                <button class="start-chat-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    INICIAR
                </button>
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/ac1876387d.js" crossorigin="anonymous"></script>
    <script src="../static/js/db-python.js"></script>
    <script src="../static/js/front.js"></script>
</body>

</html>